.principal{
  width: 2000px;
  background: #f1f1f17b;
  padding: 30px;margin: auto;
  margin-top: 100px;
  border-radius: 4px;color: rgb(0, 0, 0);
  font-family: 'Bank Gothic', sans-serif;
  box-shadow: 7px 13px 37px #a159ff78;
}

.inicio{
  font-family: 'Bank Gothic', sans-serif;
  border: 0px;
  background-color: #d8d8d800;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.ingresos{
  width: 90%;
  background: #e0e0e05a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #8805edc3;
  font-family: 'Bank Gothic', sans-serif;
  font-size: 17px;
  color: rgb(0, 0, 0);
}

.form-register p {
height: 10px;
text-align: left;
font-size: 18px;
}


